* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffff;
    --white1: #E5E5E5;
    --black: #0000;
    --blue: #486aa6;
    --yellow1: #C1D72D;
    --gray1: #968D8D;
    --gray2: #979797;
    --gray3: #cecbcd;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

header {
    height: 100vh;
}

.header_head_container {
    height: 90px;
    background: #f4f5f7;
    width: 100%;
}

.header_head {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header_logo {
    width: 239px;
    height: 70px;
    margin-top: 20px;
}

.header_icons {
    display: flex;
    align-items: center;
    gap: 33px;
}

.header_input {
    background: rgba(150, 141, 141, 0.16);
    border-radius: 6px;
    width: 199px;
    height: 36px;
    display: flex;
    align-items: center;
}

.header_input input {
    border: none;
    outline: none;
    background: none;
    margin-left: 5px;
}

.header_button {
    background: #486AA6;
    border-radius: 4px;
    padding: 10px;
    color: var(--white);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 16px;
}
.header_button:hover{
    background: var(--yellow1);
    
}
.sign_in{
    cursor: pointer;
}
.sign_in:hover{
    background: var(--blue);
    color:var(--white);
}
.language {
    background: none;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 16px;
}

.basket_circle {
    position: relative;
}

.circle {
    position: absolute;
    bottom: 20px;
    right: 0px;
    background: #FDDE01 !important;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_navbar {
    height: 50px;
    background: var(--blue)
}

.header_navbar_list {
    display: flex;
    max-width: 1092px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.header_navbar a {
    color: var(--white);
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 21px;
}

.sub_list {
    width: 250px;
    min-height: 250px;
    background: #FFFFFF;
    border-radius: 4px;
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50px;
    left:-5000px;
    padding-top: 20px;
}
.fist_list_droptown:hover>a{
    color: #FDDE01 !important;
}
.fist_list_droptown:hover>svg{
    transform: rotate(180deg);
    transition: .7s;
    fill:rgb(253, 222, 1) !important;
}

.active_list{
    left:0;
}
.fist_list_droptown:hover>.sub_list{
    left:0;
}
.sub_list li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub_list li:hover{
    background: rgba(42, 19, 132, 0.22);
    width: 100% !important;
    height: 100%;
}
.active_card{
    margin-top: 150px;
}

.sub_list a {
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 14px;
    padding-left:10px;
}

.fist_list_droptown {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap:5px;
}
.up_arrow{
    color:var(--white);
    font-size: 2.2rem;
    font-weight: 600;
    display: none;
}

.first_slider {
    position: relative;
}

.slider_content {
    position: absolute;
    top: 198px;
    left: 162px;
}

.slider_content h1 {
    width: 542px;
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 53px;
    font-family: 'Comfortaa';
}

.slider_content h1 span {
    color: var(--yellow1)
}

.slider_content button {
    padding: 12px 31px;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 25px;
    background: #C1D72D;
    box-shadow: 0px 0px 9px rgba(69, 69, 69, 0.18);
    border-radius: 14px;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-bottom: 40px;
}

.header_slider {
    height: 513px;
}

.first_slider {
    height: 513px;
}

.first_slider img {
    height: 517px;
    width: 100%;
}

.slider_scroll {
    display: flex;
    align-items: center;
    gap: 11px;
}

.slider {
    display: flex;

}

.first_section_slider {
    max-width: 1250px;
    margin: 0 auto;
    gap: 180px;
    align-items: center;
    height: 50vh;
    margin-top: 150px;
    margin-bottom: 200px;

}

.slider_cards {
    max-width: 809px;
    gap: 70px;
    overflow: hidden;

}


.first_section_header {
    text-align: center;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 42px;
    padding-top: 83px;
}

.active {
    margin-top: 116px;
}

.card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 26px;
    transition: .6s;

}

.card_content p {
    font-weight: 400;
    font-size: 2rem;
    line-height: 23px;
}



.first_section_slider svg {
    cursor: pointer;
}

.second_section_header {
    text-align: center;
    margin-top: 94px;
    margin-bottom: 42px;
}

.second_section_content {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    gap: 10px;
}

.show_red_heart{
    display: block;
}
.hide_simple_heart{
    display:none;
}
.red_heart{
    display:none;
}
.second_section_card {
    min-width: 278px;
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.card_img {
    position: relative;
    background: rgba(9, 9, 9, 0.16);
    box-shadow: 0px 0px 9px rgba(69, 69, 69, 0.18);
    border-radius: 6px;
}

.favorite_product {
    position: absolute;
    width: 51px;
    height: 41px;
    background: var(--white);
    padding: 13px 15px 10px 14px;
    border-radius: 0px 6px 0 6px;
    top: 0px;
    right: 0px;
}

.favorite_product svg {
    cursor: pointer;
}

.card_img_btn {
    position: absolute;
    bottom: 18px;
    left: 19px;
    z-index: 1000;
    width: 106px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 6px;
    padding: 8px 20px 9px 24px;
    display: flex;
    gap: 3px;
    align-items: center;
    cursor: pointer;

}

.card_img_btn:hover {
    background: var(--yellow1);
    /* color: var(--white); */
}

.card_img_btn span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 16px;
}

.second_section_card p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 19px;
}

.second_section_card p span {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 16px;
}

.another_link {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
    min-width: 1170px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 16px;
    color: var(--gray1);
}

/* -----------THIRD SECTION CSS-------------------- */
.third_section_header {
    text-align: center;
    margin-top: 92px;
    margin-bottom: 42px;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 42px;
}

.third_section_group_btns {
    display: flex;
    gap: 14px;
    justify-content: center;
    margin-bottom: 47px;
}

.head_btns {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 19px;
    border-radius: 9px;
    background: var(--white);
    border: 1px solid var(--gray2);
    outline: none;
    cursor: pointer;
}

.btns1 {
    padding: 16px 32px 15px 33px;
}

.btns2 {
    padding: 16px 39px 15px 37px;
}

.btns3 {
    padding: 16px 28px 15px 27px;
}

.active_btn {
    background: rgba(72, 106, 166, 0.89);
    color: var(--white);
}

main {
    background: var(--white1);
}

.third_section_grid_cards {
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    gap: 19px;
    margin: 0 auto;
}

.third_section_card {
    min-width: 278px;
    height: 433px;
    background: #FCFCFC;
    box-shadow: 0px 0px 9px rgba(69, 69, 69, 0.18);
    border-radius: 6px;
}

.third_section_card.show{
    /* display:block; */
    animation: ehmed 1s;
}
@keyframes ehmed {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1.05);
    }
}
.third_section_card.hide{
    display:none;
}

.giveSidesGap {
    padding: 16px 13px 18px 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.select_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn_for_the_basket {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 9px 20px 9px 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #EDECEC;
    border-radius: 6px;
}
.btn_for_the_basket:hover{
    background-color: #C1D72D;
}

.btn_for_the_basket span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 16px;
}

.favorite_card_btn {
    background: #EDECEC;
    border-radius: 6px;
    padding: 10px 15px 9px 16px;
    cursor: pointer;
}

/* -----------------FOURTH SECTION CSS-------------------------- */
.fourth_section_header {
    margin-top: 96px;
    margin-bottom: 42px;
    text-align: center;
}

.fourth_section_content {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    gap: 10px;
    align-items: center;

}

.fourth_section_content svg {
    cursor: pointer;
}

.fourth_section_bg_img {
    background: url('../images/pet-accessories-still-life-concept-with-grooming-objects-food\ 1.png');
    padding: 36px 54px 36px 54px;
}

.fourth_section_slider {
    max-width: 1170px;
    display: flex;
    gap: 19px;
}

.fourt_section_slider_card {
    min-width: 278px;
    height: 261px;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
}

/* ------------FOOTER CSS---------------------- */
footer {
    margin-top: 189px;
    background: var(--gray3);
    height: 352px;
}

.brend_name_products {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 41px;
    justify-content: space-between;
    gap:140px;
    overflow: hidden;
    height: 150px;

}
.brend_name_img{
    width:196px;
    height: 69px;
    padding-bottom:5px;
}


.footer_line {
    width: 100%;
    height: 1px;
    border: 1px solid #FFFFFF;
    margin-top: 34px;
    margin-bottom: 45px;
}

.footer_navbar {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 124px;
}

.link {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 16px;
    color: rgb(0, 0, 0) !important;
}

.footer_search {
    display: flex;
    background: rgba(29, 29, 27, 0.17);
    border-radius: 6px;
    width: 355px;
    height: 40px;
    margin-right: 85px;
}

.footer_search input {
    width: 80%;
    background: none;
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 1.5rem;
    color: var(--white);
}

.send_icon {
    background: var(--white) !important;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0 6px 6px 0;

}

.playMarket {
    margin-right: 73px;
}

.fa-right-from-bracket{
    cursor: pointer;
}
.fa-right-from-bracket:hover{
 color:#3572da
}