
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:#ffff;
    --black:#0000;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}